SharedLib/UserManagementLib/CheckAddedUserEligibility/CheckAddedUserEligibility.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Qiwa/UserManagement/CheckAddedUserEligibility/v1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/UserManagement/CheckAddedUserEligibility/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>

	
	<xsd:element name="CheckAddedUserEligibilityRq" type="bons0:CheckAddedUserEligibilityRq_Type"/>
	<xsd:element name="CheckAddedUserEligibilityRs" type="bons0:CheckAddedUserEligibilityRs_Type"/>
	
	<complexType name="CheckAddedUserEligibilityRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:CheckAddedUserEligibilityRq_BodyType"/>
		</sequence>
	</complexType>
	
	<complexType name="CheckAddedUserEligibilityRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element minOccurs="0" name="Body" type="bons0:CheckAddedUserEligibilityRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="CheckAddedUserEligibilityRq_BodyType">
	<all>
   
	<element minOccurs="0" name="EstablishmentsUsersList" type="bons0:EstablishmentsUsersList_Type"/>

    </all>
	</complexType>	
	
	
	
	<complexType name="EstablishmentsUsersList_Type">
	<sequence>
     <element minOccurs="1" maxOccurs='unbounded' name="EstablishmentsUsersItem" type="bons0:EstablishmentsUsersItem_Type"/>

    </sequence>
	</complexType>	
	
	<complexType name="EstablishmentsUsersItem_Type">
	<all>
	
      <element minOccurs="1" name="IdNo" type="string"/>
     <element minOccurs="1" name="LaborOfficeId" type="integer"/>
	 <element minOccurs="1" name="EstablishmentSequence " type="integer"/>
	 
    </all>
	</complexType>	
	
	
	
	<complexType name="CheckAddedUserEligibilityRs_BodyType">
    <all>
     <element minOccurs="0" name="EligibleUsersList" type="bons0:EligibleUsersList_Type"/>
	 <element minOccurs="0" name="NonEligibleUsersList" type="bons0:NonEligibleUsersList_Type"/>

    </all>
	</complexType>
	
	<complexType name="EligibleUsersList_Type">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="EligibleUsersItem" type="bons0:EligibleUsersItem_Type"/>
		</sequence>
	</complexType>
	
	
	<complexType name="EligibleUsersItem_Type">
		<all>
		 <element minOccurs="1" name="IdNo" type="string"/>
		   <element minOccurs="1" name="LaborOfficeId" type="integer"/> 
	       <element minOccurs="1" name="EstablishmentSequence " type="integer"/>
		    <element minOccurs="1" name="Description" type="string"/>
	    </all>
	</complexType>
	
	<complexType name="NonEligibleUsersList_Type">
		<sequence>
				<element maxOccurs="unbounded" minOccurs="0" name="NonEligibleUsersItem"  type="bons0:NonEligibleUsersItem_Type"/>

	    </sequence>
	</complexType>
	
	<complexType name="NonEligibleUsersItem_Type">
		<all>
		 <element minOccurs="1" name="IdNo" type="string"/>
		<element minOccurs="1" name="LaborOfficeId" type="integer"/> 
	       <element minOccurs="1" name="EstablishmentSequence " type="integer"/>
		    <element minOccurs="1" name="Description" type="string"/>
		  
	    </all>
	</complexType>
	
</xsd:schema>