SharedLib/UserManagementLib/AddOrUpdateUserPrivileges/AddOrUpdateUserPrivileges.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Qiwa/UserManagement/AddOrUpdateUserPrivileges/v1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/UserManagement/AddOrUpdateUserPrivileges/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>

    <xsd:element name="AddOrUpdateUserPrivilegesRq" type="bons0:AddOrUpdateUserPrivilegesRq_Type"/>
	<xsd:element name="AddOrUpdateUserPrivilegesRs" type="bons0:AddOrUpdateUserPrivilegesRs_Type"/>

	<complexType name="AddOrUpdateUserPrivilegesRq_Type">
		<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:AddOrUpdateUserPrivilegesRq_BodyType"/>
			</sequence>
		</complexType>


	<complexType name="AddOrUpdateUserPrivilegesRs_Type">
		<sequence>
				<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
				<xsd:element minOccurs="0" name="Body" type="bons0:AddOrUpdateUserPrivilegesRs_BodyType"/>
			</sequence>
		</complexType>


	<complexType name="AddOrUpdateUserPrivilegesRq_BodyType">
		<all>
		 <element minOccurs="1" name="UserId" type="integer"/>
			<element minOccurs="1" name="IdNo" type="string"/>
           <element minOccurs="1" name="EstablishmentsList" type="bons0:EstablishmentsList_Type"/>
		<element minOccurs="1" name="AddOrUpdate" type="boolean" /> 
		</all>
	</complexType>
	
	<complexType name="EstablishmentsList_Type">
	<sequence>
     <element minOccurs="1" maxOccurs='unbounded' name="EstablishmentsItem" type="bons0:EstablishmentsItem_Type"/>

    </sequence>
	</complexType>	
	
	<complexType name="EstablishmentsItem_Type">
	<all>

     <element minOccurs="1" name="LaborOfficeId" type="integer"/>
	 <element minOccurs="1" name="EstablishmentSequence " type="integer"/>
	 <element minOccurs="1" name="EstablishmentId" type="integer"/>
	 <element minOccurs="1" name="ServicesList" type="bons0:ServicesList_Type"/>
    </all>
	</complexType>	

	<complexType name="ServicesList_Type">
	<sequence>
     	<element minOccurs="1" maxOccurs='unbounded' name="ServicesItem" type="bons0:ServicesItem_Type"/>
    </sequence>
	</complexType>
	
	<complexType name="ServicesItem_Type">
	<sequence>
     	<element minOccurs="1" name="ServiceId" type="integer"/>
    </sequence>
	</complexType>

	<complexType name="AddOrUpdateUserPrivilegesRs_BodyType">
	 <all>
	   <element minOccurs="1" name="EstablishmentsInfoList" type="bons0:EstablishmentsInfoList_Type"/>
		
	 </all>	
	</complexType>

	<complexType name="EstablishmentsInfoList_Type">
	<sequence>
     	<element minOccurs="1" maxOccurs='unbounded' name="EstablishmentsInfoItem" type="bons0:EstablishmentsInfoItem_Type"/>
    </sequence>
	</complexType>	
	
	<complexType name="EstablishmentsInfoItem_Type">
	 <sequence>
	
    	 <element minOccurs="1" name="LaborofficeId" type="integer"/>
	 	 <element minOccurs="1" name="EstablishmentSequence" type="integer"/>
	     <element minOccurs="1" name="Status" type="string"/>
	     <element minOccurs="1" name="StatusDescription" type="string"/>
	     
	 </sequence>
	</complexType>
	
	
</xsd:schema>