SharedLib/UserManagementLib/ValidateMobileNumber/ValidateMobileNumber.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Qiwa/UserManagement/ValidateMobileNumber/v1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/UserManagement/ValidateMobileNumber/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
	
	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
	
	<xsd:element name="ValidateMobileNumberRq" type="bons0:ValidateMobileNumberRq_Type"/>
	<xsd:element name="ValidateMobileNumberRs" type="bons0:ValidateMobileNumberRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="ValidateMobileNumberRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:ValidateMobileNumberRq_BodyType"/>
		</sequence>
	</complexType>


	<complexType name="ValidateMobileNumberRq_BodyType">
        <xsd:all>
			<element name="IdNo" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
						<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
					</xsd:restriction>
				</xsd:simpleType>
			</element>
			<element name="MobileNumber" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"></xsd:minLength>
						<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
					</xsd:restriction>
				</xsd:simpleType>
			</element>
        </xsd:all>
	</complexType>	

	<complexType ibmSchExtn:docRoot="true" name="ValidateMobileNumberRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element minOccurs="0" name="Body" type="bons0:ValidateMobileNumberRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="ValidateMobileNumberRs_BodyType"/>
</xsd:schema>