SharedLib/UserManagementLib/CalculateUserManagementSubscriptionPrice/CalculateUserManagementSubscriptionPrice.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Qiwa/UserManagement/CalculateUserManagementSubscriptionPrice/v1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/UserManagement/CalculateUserManagementSubscriptionPrice/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
 
  
	<xsd:element name="CalculateUserManagementSubscriptionPriceRq" type="bons0:CalculateUserManagementSubscriptionPriceRq_Type"/> 
	<xsd:element name="CalculateUserManagementSubscriptionPriceRs" type="bons0:CalculateUserManagementSubscriptionPriceRs_Type"/>
	
	<complexType name="CalculateUserManagementSubscriptionPriceRq_Type"> 
		<sequence> 
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>   
			<xsd:element name="Body" type="bons0:CalculateUserManagementSubscriptionPriceRq_BodyType"/>
		</sequence>
	</complexType>
	 
	<complexType name="CalculateUserManagementSubscriptionPriceRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element name="Body" type="bons0:CalculateUserManagementSubscriptionPriceRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="CalculateUserManagementSubscriptionPriceRq_BodyType">
		<all>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/> 
			<element minOccurs="1" name="EstablishmentSequence" type="integer"/>
			<element minOccurs="1" name="NbUsers" type="integer"/>
			<element minOccurs="1" name="LaborersList" type="bons0:LaborersList_Type"/>
		</all>  
	</complexType>
	
	

	<complexType name="CalculateUserManagementSubscriptionPriceRs_BodyType">
		<sequence>
		    <element minOccurs="1" name="SubscriptionDetails" type="bons0:SubscriptionDetails_Type"/>
      </sequence>
	</complexType>
	
	<complexType name="SubscriptionDetails_Type">
		<sequence>
	        <element minOccurs="1" name="SubscriptionId" type="integer"/>
		    <element minOccurs="1" name="SubscriptionPeriodInMonth" type="integer"/>
			<element minOccurs="1" name="SubscriptionPriceList" type="bons0:SubscriptionPriceList_Type"/>
		    <element minOccurs="1" name="VAT" type="integer"/>
			<element minOccurs="1" name="EstablishmentSize" type="integer"/>
			<element minOccurs="1" name="TotalAmount" type="integer"/>

		</sequence>
	</complexType>
	<complexType name = "LaborersList_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="LaborerIdNo" type="string"/>
		</sequence>
	</complexType>

	<complexType name="SubscriptionPriceList_Type">
		<sequence>
	        <element minOccurs="1" name="Price" type="decimal"/>
	        <element minOccurs="1" name="AmountType" type="integer"/>
		   
		</sequence>
	</complexType>
</xsd:schema>