get-um-services-non-subscribed-users/GetUMServicesNonSubscribedUsers/XSD & SWAGGER/XSD/GetUMServicesNonSubscribedUsers.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 targetNamespace="http://Qiwa/UserManagement/GetUMServicesNonSubscribedUsers/v1.0" 
 xmlns="http://www.w3.org/2001/XMLSchema" 
 xmlns:bons0="http://Qiwa/UserManagement/GetUMServicesNonSubscribedUsers/v1.0" 
 xmlns:bons1="http://Qiwa/Common/Types" 
 xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>

 
	<xsd:element name="GetUMServicesNonSubscribedUsersRq" type="bons0:GetUMServicesNonSubscribedUsersRq_Type"/> 
	<xsd:element name="GetUMServicesNonSubscribedUsersRs" type="bons0:GetUMServicesNonSubscribedUsersRs_Type"/>
	
	<complexType name="GetUMServicesNonSubscribedUsersRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>  
			<xsd:element name="Body" type="bons0:GetUMServicesNonSubscribedUsersRq_BodyType"/>
		</sequence>
	</complexType>
	
	<complexType name="GetUMServicesNonSubscribedUsersRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element name="Body" type="bons0:GetUMServicesNonSubscribedUsersRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="GetUMServicesNonSubscribedUsersRq_BodyType">
		<all>
			<element minOccurs="1" name="IdNo" type="string"/> 
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
			<element minOccurs="1" name="SequanceNumber" type="integer"/>
		</all>  
	</complexType>
	        

	<complexType name="GetUMServicesNonSubscribedUsersRs_BodyType">
		<all>
		    <element minOccurs="0" name="ServicesList" type="bons0:ServicesList_Type"/>
      </all>
	</complexType>
	
	<complexType name="ServicesList_Type">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="1" name="ServiceItem" type="bons0:ServiceItem_Type"/>
		</sequence>
	</complexType>
		
	<complexType name="ServiceItem_Type">
		<all>
			<element minOccurs="1" name="Group" type="bons0:Group_Type"/>
			<element minOccurs="1" name="Service" type="bons0:Service_Type"/>
		</all>
	</complexType>
	
	<complexType name="Group_Type">
		<all>
	        <element minOccurs="1" name="GroupId" type="integer"/>
		    <element minOccurs="1" name="GroupNameEn" type="string"/>
			<element minOccurs="1" name="GroupNameAr" type="string"/>
		</all>
	</complexType>
	
	<complexType name="Service_Type">
		<all>
	        <element minOccurs="1" name="ServiceId" type="integer"/>
		    <element minOccurs="1" name="ServiceNameEn" type="string"/>
			<element minOccurs="1" name="ServiceNameAr" type="string"/>
		</all>
	</complexType>
	

</xsd:schema>