get-user-eligible-services/GetUserEligibleServices/XSD&SWAGGER/XSD/GetUserEligibleServices.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Qiwa/UserManagement/GetUserEligibleServices/v1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/UserManagement/GetUserEligibleServices/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types"
		schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>

 
	<xsd:element name="GetUserEligibleServicesRq" type="bons0:GetUserEligibleServicesRq_Type"/>
	<xsd:element name="GetUserEligibleServicesRs" type="bons0:GetUserEligibleServicesRs_Type"/>
	
	<complexType name="GetUserEligibleServicesRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:GetUserEligibleServicesRq_BodyType"/>
		</sequence>
	</complexType>
	
	<complexType name="GetUserEligibleServicesRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element name="Body" type="bons0:GetUserEligibleServicesRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="GetUserEligibleServicesRq_BodyType">
		<all>
			<element minOccurs="0" name="IdNo" type="string"/>
			<element minOccurs="0" name="UserId" type="integer"/>
			<element minOccurs="1" name="LaborOfficeId" type="integer"/>
		    <element minOccurs="1" name="EstablishmentSequence " type="integer"/> 
			<element minOccurs="0" name="StatusId" type="integer"/>
			<element minOccurs="0" name="ServiceId" type="integer"/>
			<element minOccurs="1" name="PageSize" type="integer"/>
			<element minOccurs="1" name="PageIndex" type="integer"/>
		</all>  
	</complexType>
	
    

	<complexType name="GetUserEligibleServicesRs_BodyType">
		<sequence>
			<element minOccurs="1" name="TotalRecordsCount" type="integer"/>
			<element minOccurs="0" name="EligibleServicesList" type="bons0:EligibleServicesList_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="EligibleServicesList_Type">
		<sequence>
			<element minOccurs="1" name="EligibleServicesItem" type="bons0:EligibleServicesItem_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="EligibleServicesItem_Type">
		<all>
			<element minOccurs="1" name="IdNo" type="string"/>
			<element minOccurs="1" name="UserId" type="integer"/>
			<element minOccurs="1" name="LaborOfficeId" type="string"/>
		    <element minOccurs="1" name="SequenceNumber " type="integer"/>
			<element minOccurs="1" name="Status" type="bons0:Status_Type"/>
			<element minOccurs="1" name="Service" type="bons0:Service_Type"/>
		</all>
	</complexType>
	
	<complexType name="Status_Type">
		<sequence>
			<element minOccurs="1" name="StatusId" type="integer"/>
			<element minOccurs="1" name="StatusEn" type="string"/>
			<element minOccurs="1" name="StatusAr" type="string"/>
		</sequence>
	</complexType>
	
	<complexType name="Service_Type">
		<sequence>
			<element minOccurs="1" name="Service" type="integer"/>
			<element minOccurs="1" name="ServiceNameEn" type="string"/>
			<element minOccurs="1" name="ServiceNameAr" type="string"/>
		</sequence>
	</complexType>
	
</xsd:schema>