add-establishment-user-subscription/AddEstablishmentUserSubscription/XSD&Swagger/XSD/AddEstablishmentUserSubscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/UserManagement/AddEstablishmentUserSubscription/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/UserManagement/AddEstablishmentUserSubscription/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
	
	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>
	
	<xsd:element name="AddEstablishmentUserSubscriptionRq" type="bons0:AddEstablishmentUserSubscriptionRq_Type"/>
	<xsd:element name="AddEstablishmentUserSubscriptionRs" type="bons0:AddEstablishmentUserSubscriptionRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="AddEstablishmentUserSubscriptionRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>
			<xsd:element name="Body" type="bons0:AddEstablishmentUserSubscriptionRq_BodyType"/>
		</sequence>
	</complexType>


	<complexType name="AddEstablishmentUserSubscriptionRq_BodyType">
        <xsd:sequence>
        	<xsd:element name="SubscriptionsList" type="bons0:SubscriptionsList_Type"></xsd:element>
        	<xsd:element minOccurs="0" name="PaymentReference" type="string"></xsd:element>
        	
        </xsd:sequence>
	</complexType>

	<complexType ibmSchExtn:docRoot="true" name="AddEstablishmentUserSubscriptionRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element minOccurs="0" name="Body" type="bons0:AddEstablishmentUserSubscriptionRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="AddEstablishmentUserSubscriptionRs_BodyType">
		<xsd:sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"></xsd:element>
		</xsd:sequence>
	</complexType>

	<xsd:complexType name="SubscriptionItem_Type">
        <xsd:all>
			<xsd:element name="SubscriptionId" minOccurs="1"> 
            	<simpleType>
					<restriction base="integer">
						  <enumeration value="1"/> 
					</restriction>
				</simpleType>
			</xsd:element> 
			<xsd:element name="IdNo" type="xsd:string" minOccurs="1"></xsd:element>
			<xsd:element name="Duration" type="xsd:integer" minOccurs="1"></xsd:element>
			<xsd:element name="LaborOfficeId" type="xsd:integer" minOccurs="1"></xsd:element>
            <element minOccurs="1" name="SequenceNumber" type="integer"/>
	        <element minOccurs="1" name="EstablishmentId" type="integer"/> 
        </xsd:all>
	</xsd:complexType> 


	<xsd:complexType name="SubscriptionsList_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="SubscriptionItem"
				type="bons0:SubscriptionItem_Type">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>