SharedLib/UserManagementLib/GetPaymentswithoutUserSubscriptions/GetPaymentswithoutUserSubscriptions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://Qiwa/UserManagement/GetPaymentswithoutUserSubscriptions/v1.0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:bons0="http://Qiwa/UserManagement/GetPaymentswithoutUserSubscriptions/v1.0" 
xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:Q1	="http://Qiwa/Common/Types">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>


	<xsd:element name="GetPaymentswithoutUserSubscriptionsRq" type="bons0:GetPaymentswithoutUserSubscriptionsRq_Type"/>
	<xsd:element name="GetPaymentswithoutUserSubscriptionsRs" type="bons0:GetPaymentswithoutUserSubscriptionsRs_Type"/>

	<complexType ibmSchExtn:docRoot="true" name="GetPaymentswithoutUserSubscriptionsRq_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLRequestHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetPaymentswithoutUserSubscriptionsRq_BodyType"/>
			</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="GetPaymentswithoutUserSubscriptionsRs_Type">
			<sequence>
				<xsd:element name="Header" type="Q1:ESBXMLResponseHeader_Type"/>
				<xsd:element name="Body" type="bons0:GetPaymentswithoutUserSubscriptionsRs_BodyType"/>
			</sequence>
	</complexType>
	
	
	<complexType name="GetPaymentswithoutUserSubscriptionsRq_BodyType">
		<all>
			<element minOccurs="1" name="StartDate" type="Q1:Dt_Type"/>
			<element minOccurs="1" name="EndDate" type="Q1:Dt_Type"/>
			<element minOccurs="1" name="PageSize" type="integer"/>
			<element minOccurs="1" name="PageIndex" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="GetPaymentswithoutUserSubscriptionsRs_BodyType">
		<all>
			<element minOccurs="1" name="List" type="bons0:List_Type"/>
			<element minOccurs="1" name="TotalRecordsCount" type="integer"/>
		</all>
	</complexType>
	
	<complexType name="List_Type">
		<sequence>
			<element minOccurs="1" maxOccurs="unbounded" name="ListItem" type="bons0:ListItem_Type"/>
		</sequence>
	</complexType>
	
	<complexType name="ListItem_Type">
		<all>
			<element minOccurs="1" name="PaymentReference" type="string"/>
			<element minOccurs="1" name="PaymentId" type="string"/>
			<element minOccurs="1" name="IdNumber" type="string"/>
			<element minOccurs="1" name="InsertDate" type="Q1:Tmstmp_Type"/>
		</all>
	</complexType>
</xsd:schema>