SharedLib/UserManagementLib/UpdateOrConfirmMobileNumber/UpdateOrConfirmMobileNumber.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Qiwa/UserManagement/UpdateOrConfirmMobileNumber/v1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Qiwa/UserManagement/UpdateOrConfirmMobileNumber/v1.0" xmlns:bons1="http://Qiwa/Common/Types" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:import namespace="http://Qiwa/Common/Types" schemaLocation="../common/types/ESB_common_types_v1.0.xsd"/>

 
	<xsd:element name="UpdateOrConfirmMobileNumberRq" type="bons0:UpdateOrConfirmMobileNumberRq_Type"/> 
	<xsd:element name="UpdateOrConfirmMobileNumberRs" type="bons0:UpdateOrConfirmMobileNumberRs_Type"/>
	
	<complexType ibmSchExtn:docRoot="true" name="UpdateOrConfirmMobileNumberRq_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLRequestHeader_Type"/>  
			<xsd:element name="Body" type="bons0:UpdateOrConfirmMobileNumberRq_BodyType"/>
		</sequence>
	</complexType>
	
	<complexType ibmSchExtn:docRoot="true" name="UpdateOrConfirmMobileNumberRs_Type">
		<sequence>
			<xsd:element name="Header" type="bons1:ESBXMLResponseHeader_Type"/>
			<xsd:element name="Body" type="bons0:UpdateOrConfirmMobileNumberRs_BodyType"/>
		</sequence>
	</complexType>

	<complexType name="UpdateOrConfirmMobileNumberRq_BodyType">
		<all>
			<element minOccurs="1" name="IdNo" type="string"/> 
			<element minOccurs="1" name="MobileNumber" type="string"/>
		</all>  
	</complexType>
	        

	<complexType name="UpdateOrConfirmMobileNumberRs_BodyType">
	
	</complexType>
</xsd:schema>